# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Data files
data/bronze/*
data/silver/*
data/gold/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Airflow
airflow/logs/*
!airflow/logs/.gitkeep

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Great Expectations
great_expectations/uncommitted/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

# Misc
.DS_Store
*.log
